{
    "name": "project/project",
    "type": "project",
    "decription": "{{project_description}}",
    "autoload": {
        "psr-4": {
            "{{default_namespace}}\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "Tests\\": "tests/"
        }
    },
    "require-dev": {
        "phpunit/phpunit": "^9.5"
    }
}